body {
  overflow-x: hidden;
}

.sectionHead {
  background-color: #f8f8f8;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  font-family: Georgia;
}

.sectionHead h1 {
  font-size: 56px;
  font-weight: normal;
  position: relative;
  z-index: 4;
  margin-bottom: 0px;
}

.sectionHead h2 {
  font-size: 56px;
  font-weight: normal;
  position: relative;
  z-index: 4;
  margin-top: 0px;
}

.sectionHead .and {
  top: 10px;
  font-size: 260px;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: #ddd;
}

.sectionContent {
  padding-top: 60px;
}

.sectionContent .item {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.sectionContent .item a {
  color: #000;
  font-size: 20px;
}

.sectionContent .item p {
  color: #555;
  font-size: 16px;
}

.sectionContent .crd:hover .item {
  background-color: #7570ff;
  box-shadow: 0 23px 35px rgba(117,112,255,0.33);
  border-color: #7570ff;
  color: #fff;
}

.sectionContent .crd:hover .item p,
.sectionContent .crd:hover .item a {
  color: #fff;
}


.sectionDescription {
  padding-top: 60px;
}
.sectionDescription p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
  margin: 34px 0;
}

.mainText {
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
   }
